
main-nav{display:flex;gap:10px;align-items:center}
.main-nav .nav-link{
  text-decoration:none;padding:8px 10px;border-radius:8px;color:white;font-weight:600;
}
.main-nav .nav-link:hover{background:linear-gradient(to right,red,yellow);color:rgb(8, 199, 199),}
site-header{
  background:linear-gradient(90deg, rgba(11,122,77,0.06), rgba(245,158,11,0.03));
  padding:18px 0 12px;
  border-bottom:1px solid rgba(15,23,42,0.04);}
.header-inner{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:space-between;
  padding-bottom:6px;
  padding-top: 6px;
  padding-left: 2px;
  background:linear-gradient(to right,red,black);
  
}
.site.title{
  
    font-size: 24px;
    color:white;
    justify-content: flex-start;
}
body{
 /* background-image: url(https://static.boostmytalent.com/img/univ/lpu-online-mba-admission.webp);*/
 background-color:white;
  background-size:cover;
  background-repeat: no-repeat;
  
  

}
input[type=text] {
  float: right;
  padding: 4px;
  border: 1px solid black;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 9px;
  border-radius: 10px;
  width: 150px;
  position: relative;
  outline-color:crimson;
  box-shadow: 0 4px 8px rgba(0, 0green, 0, 0.2);
  
}

.navbar{
  background-color:#EEEEEE;
  height: 30px;
}
.ram{
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid black;
  width: 50px;
  height: fit-content;
}
button{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  outline: none;
  
  
}
button:hover{
  background-color:lightslategray;
}
a{
  color:black
}
.vvvv{
  height: 320px;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}
.vvvv {
  background-color: #f48120;;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  
}
.tttt{
  display: flex;
}
.ppppp{
  border: 1px solid black;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  gap:26px;
}
.ssss{
  background-color: #fff8f2;
  height: 500px;
}
footer{
  background-color:#222831;
  height: 100px;
  margin-top: 20px;
  color:white;
  justify-items: center;
}
h1{
  margin-left: 50px;
}
.iiii{
  height: 320px;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  
  width: 1100px;
  background-size: cover;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 5px 15px #222831;

}
.place{
  height: 400px;
  width: 1100px;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  background-size: cover;
  box-shadow: 0 5px 15px #222831;
  display: flex;
}
.ach{
  height: 420px;
  width: 1100px;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  background-size: cover;
  box-shadow: 0 5px 15px #222831;
  display: flex;
}


.footer {
  background-color: black;
 
}

.footer-container {
  display: flex;
  
  justify-content: center;
  
  
  background-color: black;
}

.footer-column {
  
  margin: 70px;
}

.footer-column h3 {
  color: #ff6600;
  margin-bottom: 15px;
  margin-left:30px;
  
  font-size: 18px;
  text-transform: uppercase;
}

.footer-column ul {
  list-style: none;
  
}

.footer-column ul li {
  margin-bottom: 10px;
  
}

.footer-column ul li a {
  text-decoration: none;
  color:white;
  transition: 0.3s;
  font-size: 15px;
  
}

.footer-column ul li a:hover {
  color: #ff6600;
}

.footer-column p {
  line-height: 1.6;
  color:white;
  font-size: 14px;
  margin-left: 27px;
}

.social-icons a {
  color: white;
  margin-right: 10px;
  font-size: 16px;
  transition: 0.3s;
  margin-left: 20px;
}

.social-icons a:hover {
  color: #ff6600;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #333;
  font-size: 10px;
  background-color: black;
  width: 1201px;
}

.footer-bottom a {
  color: #ff6600;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer-bottom p{
  color:white;
  margin-bottom: 10px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-column {
    margin: 10px 0;
  }
}
.mar{
  background: linear-gradient(125deg, #39b6db -20%, #f7d344 50%, #e38330 100%);
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  text-decoration: none;
}
.app{
  text-decoration: none;
}

